---
import path from 'node:path'

import StarlightSidebar from '@astrojs/starlight/components/Sidebar.astro'

import Copyright from '~/components/Copyright.astro'

const basePath = path.dirname(`/${Astro.props.id}`)

function filterSidebar(inputEntries: any[], basePath: string, level: number = 1): any[]
{
	// Recursively applies to list of entries

	const basePathLevels = basePath.split('/').length - 1
	const newEntries = inputEntries
		.reduce(
			(entries, entry) =>
			{
				if (entry.type === 'link')
				{
					if (entry.href.startsWith(basePath))
					{
						entries.push(entry)
						return entries
					}

					if (level <= 1)
					{
						if (entry.href.startsWith('http'))
						{
							entries.push(entry)
							return entries
						}

						if (entry.href === '/' && basePathLevels <= 1)
						{
							// Keep home link
							entries.push({
								...entry,
								label: '← ' + entry.label,
							})
							return entries
						}
					}

					// entries.push({
					// 		...entry,
					// 		label: `x_${entry.label}`,
					// 	})
					return entries
				}

				if (entry.type == 'group')
				{
					const filteredEntries = filterSidebar(entry.entries, basePath, level + 1)

					if (filteredEntries.length <= 0)
					{
						// Skip empty group
						return entries
					}

					if (filteredEntries.length === 1)
					{
						// Group has only one entry

						if (level < basePathLevels - 1 || level > basePathLevels)
						{
							// Replace group with entry
							entries.push({
								...filteredEntries[0],
								label: (
									filteredEntries[0].attrs?.slash
										? filteredEntries[0].label
										: entry.label + ' / ' + filteredEntries[0].label
								),
								attrs: {
									...filteredEntries[0].attrs,
									...(filteredEntries[0].type === 'link' ? { class: 'large' } : {}),
									slash: true,
								},
							})

							return entries
						}
						else if (level === basePathLevels - 1)
						{
							// Add link to go back to group
							entries.push({
								type: 'link',
								label: '← ' + entry.label,
								href: null, // TODO
								attrs: {
									class: 'large',
								},
							})

							// Replace group with entry
							entries.push({
								...filteredEntries[0],
								label: (
									filteredEntries[0].attrs?.slash
										? filteredEntries[0].label
										: entry.label + ' / ' + filteredEntries[0].label
								),
								attrs: {
									...filteredEntries[0].attrs,
									...(filteredEntries[0].type === 'link' ? { class: 'large' } : {}),
									slash: true,
								},
							})

							return entries
						}
					}

					entries.push({
						...entry,
						entries: filteredEntries,
					})
					return entries
				}

				// Unknown entry type
				entries.push({
					...entry,
					label: `?_${entry.label}`,
				})
				return entries
			},
			[],
		)

	return newEntries
}

Astro.props.sidebar = filterSidebar(Astro.props.sidebar, basePath)
---

<div class="sidebar-wrapper">
	<StarlightSidebar {...(Astro.props as any)} />

	<div class="md:mt-4">
		<Copyright shortText={true} />
	</div>
</div>

<style lang="scss">
	.sidebar-wrapper {
		display: contents;
	}
</style>
